Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.3.1
django-filter==23.5
python-decouple==3.8
whitenoise==6.6.0
gunicorn==21.2.0
mysqlclient==2.2.8
Pillow==12.1.1
setuptools==75.8.2
